name: Manual testing of debug-via-tailscale

on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Workflow runner to use'
        required: true
        default: 'ubuntu-latest'

jobs:
  debug:
    runs-on: ${{ github.event.inputs.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: Debug via Tailscale
        uses: ./
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions
          timeout: '3600'
